

<!-- FOOTER -->
<footer id="footer">
    <!-- top footer -->
    <div class="section" style="display:contents; text-align:center;">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-6">
                    <div class="footer">
                        <h3 class="footer-title"style="color:white";font-size >HAKKIMIZDA</h3>                      
                        <ul class="footer-links">
                            <li><a href="#"><i class="fa fa-map-marker"></i>@await Component.InvokeAsync("Address")</a></li>
                            <li><a href="#"><i class="fa fa-phone"></i> @await Component.InvokeAsync("Telephone")</a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i>@await Component.InvokeAsync("Email")</a></li>
                        </ul>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="footer">
                        <h3 class="footer-title"style="color:white">KATEGORİLER</h3>
                        <ul>
                            <li><a href="/Home/TopsellerProducts">ÇOK SATANLAR</a></li>
                            <li><a href="/Home/NewProducts">YENİ ÜRÜNLER</a></li>
                            <li><a href="/Home/FeaturedProducts">FIRSAT ÜRÜNLERİ</a></li>
                        </ul>



                       
                        
                    </div>
                </div>

            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /top footer -->

</footer>
<!-- /FOOTER -->